*{
    margin: 0;
    padding: 0;    
    
}

body{
    background-size: cover;
    background-position: initial;
    background-image: url(background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: rgb(230, 230, 230);
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

#texto_header{
    text-align: center;
    font-size: 3em;
    height: auto;
    background-color: #333;
}

header h1 {
    color: rgb(230, 230, 230);
}

#navegacao_topo{
    text-align: center;
    padding: 10px;
    background-color: #333;
}
#navegacao_topo a{
    padding: 5px 10px;
    color: rgb(230, 230, 230);
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    transition: background-color 0.2s;
}

#navegacao_topo a:hover{
    padding: 5px 10px;
    background-color: rgb(90, 90, 90);
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center; /* Alinhamento do texto no centro */
    padding: 5px 0; /* Espaçamento interno do rodapé */
}

