/*Configuração das imagens*/
img{
    height: 300px;
    float: left; /* Faz a imagem flutuar à esquerda */
    margin-right: 10px; /* Adiciona um espaço entre a imagem e o texto */
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px#3333337a ;
    transition: 0.2s;
}
img:hover{
    height: 305px;
}
/*inicio da Configuração especifica da imagem do hobbie*/
#hobbie_img{
    height: 350px;
    float: right;
    margin-bottom: 15px;
}
#hobbie_img:hover{
    height: 355px;
}
/*Fim da configuração da imagem do hobbie*/

main{
    width: 80%;
    margin: auto;
}

section{
    padding: 20px;
}

h2{
    font-size: 2.5em;
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-shadow: 1px 1px #3333338a;
}
/*Hidden para que eu conseguisse fazer as configurações nescessarias com os outros elementos da pagina*/
.container, .skills{
    overflow: hidden;
}

/*inicio configurações das skills*/
.skills{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.softSkill{
    float: left;
}
.hardSkill{
    padding-left: 10px;
    float: left;
}

.softSkill, .hardSkill{
    background-color: #333;
    height: 200px;
    width: 400px;
    line-height: 24px;
    border-radius: 5px;
    color: rgb(230, 230, 230);
    box-shadow: 1px 1px 2px 1px#3333337a ;
}
/*Fim das configurações das skills*/

.container p {
    padding-top: 100px;
    font-size: 1.3em;
}

ul{
    list-style: none;
}
